h2{
	margin: 0px 0px 0px 30%;
	font-style: italic;
	color: white;
	background-color: #FF8333;



}

body{background-color: #F9C9AA;



}
.xviii{
	margin-bottom: 50px;
}

#parteblanca{
	margin: 0px 0px 0px 30%;
	background-color: white;
	font font-family: all;
	font-style: italic;
	font-size:  30px;
	padding-bottom: 10%;
	padding-top: 2%;
	padding-left: 2%;



	
}

#xix{
	padding-top: 2%;
}