body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 100px ) ;
    grid-template-rows: repeat(3, 100px);
    grid-auto-flow: column;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #111010;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.box2 {
    background-color: #534D4DFF;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    opacity: 0.5;
}

