#div-0, #div-2 {
background-color:#88d;
color:#000;
}
#div-1 {
position: relative;
	/*<!--ancho fijo-->*/
width:400px;
background-color:#000;
color:#fff;
}
#div-1-padding {

padding:10px;
}
#div-1a {
	position:absolute;
bottom :0;
right:0;
width:200px;

background-color:#d33;
color:#fff;
}
#div-1b {
background-color:#3d3;
color:#fff;
}
#div-1c {
background-color:#33d;
color:#fff;
}